/*#chats{width: 250px; height: 400px; border: 1px solid black; float: left;
    overflow: scroll; }
#cont {width: 500px; height: 400px; border: 1px solid blue; float: right; margin-right: 5%;}
#messages{wdith: 300px; height: 300px; border: 1px solid blue;
    margin: 20px; padding: 10px; overflow: scroll;}
.newChat {clear:both;}

#msgText{ height: 30px; width: 360px; margin-left: 30px;}
.user { display: inline-block; width: 65%; height: 50px;}
.chatlist:hover {background-color: #4888F1;}
.user_btn{width:100%; height: 100%; background-color: #ffffff; border: none;}
.user_btn:hover{background-color: #FFA917; color: #ffffff;}
.time{float: right;}
.username {margin-right: 5px;}
*/

.img-chat {
    width:35px;
    height:35px;
    border-radius:50%;
    float: left;
    margin: 5px;
   /* position:absolute;
    top:-6px;
    right:1px; */
}

.img-chat:hover {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border:2px solid #ffad33;
    cursor:pointer;
}

.user_btn {
    width: 90px;
    height: 40px;
    margin-top: 5px;
    margin-right: 3px;
    background-color: #1d1d27;
    border: none;
    color: white;
}

.chat-dropdown-content {
    margin-top:5px;
    right:20px;
    display:none;
    position:absolute;
    background-color:#1d1d27;
    min-width:150px;
    max-height: 250px;
    overflow: scroll;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 110;
    cursor: pointer;
}

.chat-dropdown:hover .chat-dropdown-content {
    display:block;
}

.chat-dropdown-content:hover {
    display: block;
}
.chat-dropdown-content:hover .chat {
    background-color:#ff9a00;
}


.chat-dropdown {
    position:relative;
    display:inline-block;
    margin-left: 30px;


}

#chats{
    margin-top: 0px;
}

#msgBox {
    position: fixed;
    z-index: 10;
    top: 150px;
    right:90px;
    border: 1px solid #404048;
    border-radius: 4px;
    display: none;
    min-height: 250px;
    width: 250px;
    background-color: #404048;
    padding: 10px;


}

#msgs{
    overflow: scroll;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 25px;
    height: 180px;
    padding: 3px;
    background-color: white;
}

#boxclose {
    float:right;
}

#newMsg {
 margin-top: 5px;
    margin-bottom: 10px;
}

 .time {
    font-size: 8px;
    float: right;

}

.username {
    float: left;
    color: #FF9A00;

}

.msgText {
    border: 1px solid gray;
    border-radius: 6px;
    width: 90%;
    margin-bottom: 4px;
    background-color: #4291EE;
    padding: 3px;
    margin-left: 5%;
}

.reply {

    clear: both;
    text-align: center;
    margin-top: 0px;
    text-transform: none;
    color: white;
}

#newChat {
    width: 100%;
    background-color: #404048;
    border: none;
    color: white;
}

#newChat:hover {
    background-color: #4291EE;
}

#to {
    width: 100px;
    height: 20px;
    margin-bottom: 5px;
}