.go-to-game {
    float:right;
    margin-bottom:50px;
}

.portal-content {
    margin-top:50px;
}

li .tab-links {
    color:black;
}

.move-down {
    margin-top:20px;
}

.rulebook-modal-btn {
    width:47%;
}

.maps-modal-btn {
    float:right;
    width:47%;
}

/*
textarea > .invite-players-bar {
    max-width: 50%;
    max-height: 100%;
}*/
